html,
body {
  font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
}

.container {
  width: 700px;
  margin: 0 auto;
  padding: 0 16px;
}

.grid-container-layout {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 1px 16px;
  grid-template-areas: '. .';
}

.effects-list {
  height: 80vh;
  overflow-y: scroll;
}

.effect-item {
  padding: 10px;
  display: block;
  width: 100%;
  background: transparent;
  border: 0px;
  text-align: left;
  font-size: 16px;
}

.effect-item.active {
  background: #007ee5;
  color: #ffffff;
}

.header {
  margin-bottom: 8px;
  padding: 16px 0 16px 0;
  background: #02b875;
  transition: background-color 0.5s ease;
}

.heading {
  color: #ffffff;
  padding: 11px;
  margin: 0;
}

.header.disconnected {
  background: #cd201f;
  transition: background-color 0.5s ease;
}

.modal-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: none;
}

.modal-backdrop.active {
  background: rgba(0, 0, 0, 0.7);
  display: block;
}

.modal {
  border-radius: 8px;
  padding: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background: #ffffff;
  width: 400px;
  display: none;
  z-index: 2;
}

.modal.active {
  display: block;
}

.modal-heading {
  margin: 0;
  padding-bottom: 32px;
}

.modal-actions {
  padding-top: 32px;
}

.icon-btn {
  margin: 4px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 8px;
  border-radius: 32px;
  height: 48px;
  width: 48px;
  transition: background-color 0.2s ease;
}

.icon-btn:hover,
.icon-btn:focus {
  background: rgba(255, 255, 255, 0.8);
  transition: background-color 0.2s ease;
}

.icon-btn:active {
  background: rgba(255, 255, 255, 0.3);
  transition: background-color 0.2s ease;
}

.button {
  background: rgba(0, 126, 229, 1);
  border: none;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.button:hover,
.button:focus {
  background: rgba(0, 126, 229, 0.8);
  transition: background-color 0.2s ease;
}

.button:active {
  background: rgba(0, 126, 229, 0.5);
  transition: background-color 0.2s ease;
}

.mr-1 {
  margin-right: 8px;
}

.control {
  width: 100%;
  box-sizing: border-box;
}

input[type='text'] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #cacaca;
}

input[type='range'] {
  -webkit-appearance: none;
  height: 4px;
  border-radius: 4px;
  background: #cacaca;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  padding: 0.075rem 0.375rem;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #007ee5;
  transition: transform 0.2s ease;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb:active {
  background: #007ee5;
  transform: scale(1.3);
  transition: transform 0.2s ease;
}

input[type='range']::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #007ee5;
  cursor: pointer;
}

.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: #cacaca;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #007ee5;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.progress-bar {
  margin-top: 10px;
  width: 100%;
  background-color: #cacaca;
  padding: 3px;
  border-radius: 3px;
}

.progress-bar-fill {
  display: block;
  height: 16px;
  background-color: #007ee5;
  border-radius: 4px;

  transition: width 500ms ease-in-out;
}

@media (max-width: 767px) {
  .grid-container-layout {
    display: block;
  }
  .container {
    width: auto;
  }
}